/* Refacto */


@font-face {
  font-family: "Montserrat-Bold";
  src: url("fonts/Montserrat-Bold.ttf");
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.ttf");
  font-family: "Ailerons";
  src: url("fonts/Ailerons-Regular.otf");
}

body {
  display: flex;
  flex-direction: column;
}

.article, p:first-of-type,span,h1,h2,h3, h4 {
  font-family: "Montserrat-Bold";
}

.p,
body {
  font-family: "Montserrat";
}

h1,h2 {
  margin-left: 3em;
  padding-left: 3em;
}

.inscriptionButton, .cardTitle, .cardExcerpt, .citation, .article h1, .article1, .listIndex, 
.banner-title, iframe {
  text-align : center;
}


.menu-header {
  align-items: center;
}

.inscriptionButton, .card, .cardAuteur  {
  background-color: #a6bbdd;
}

footer,header, button {
  background-color: #2b4570;
}

.bottom {
  background-color: #a8d0db;
  position: absolute;
  bottom: 0;
  margin: 0;
  max-width: 600px;
  width: 100%;
}

.bar, body { 
  background-color: #ffffff;
} 

form, .bannerArticle, .cardAuteur, .cards {
  margin-left: auto;
  margin-right: auto;
}  

.listIndex, .selectbutton {
  margin: auto;
}

.cards, .blockIndex, ul.banner-articles, form, .liste, .blockliens, ul.block,
.lienfooter, footer, .card  {
  display: flex;
}
.listeliens, .cards, .lienfooter  {
  flex-wrap: wrap;
} 

.bannerArticle, .bar, .change {
  display: block;
}


/* Refacto */


/* header fixé en haut quand on scroll */

header {
  position: fixed;
  width: 100%;
}

/* fin header fixé */

body { 
  color: #535150;
  margin-left: 7em;
  margin-right: 7em;
}

footer,
header {
  color: #ffffff;
}

.menu-header, ul.banner-articles, .menu-header li, ul.block, .listeliens,
.blockIndex, .listIndex {
  list-style: none;
}

header {
  font-family: "Ailerons";
}

html,body {
  margin: 0;
  padding: 0;
}

.displayNone {
  display: none;
}

.logo {
  width: 3rem;
  height: 3rem;
  float: left;
  margin-left: 45%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.inscriptionButton {
  width: 100%;
  height: 4rem;
}

/* c'est le code des cartes index */

.cards {
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 10rem;
  height: 14rem;
  box-shadow: 0.313rem 0.125rem 0.5rem #2b4570;
  border-radius: 1%;
  margin: 2rem;
  padding-bottom: 1rem;
}

.cardTitle,.cardExcerpt {
  text-transform: uppercase;
  color: white;
}

.cardImage {
  width: 60%;
  height: 45%;
  overflow: hidden;
  border-radius: 100%;
  margin-left: 2rem;
  margin-top: 0.5rem;
  border: 2px solid white;
}

.cardCollector {
  display: none;
  margin-top: -0.8rem;
}

/* Mise en page relative aux articles */

.citation {
  font-style: oblique;
}

hr {
  width: 25%;
  color: #d5b544;
}


.article1 {
  width: 35rem;
}

.bannerArticle {
  width: 80%;
  height: auto;
}

/* Form */

form {
  display: inline-block;
}

input,
textarea,
.selectContact {
  padding: 3px;
  border: 1px solid #a8d0db;
  border-radius: 5px;
  width: 80%;
  display: inline-block;
}

input[type="submit"] {
  width: 100px;
  margin-left: 5px;
  box-shadow: 1px 1px 1px #a8d0db;
  cursor: pointer;
}

/* MENU BURGER !! */

#menu {
  width: 35px;
  height: 30px;
  padding-top: 1.3rem;
  padding-right: 1.5rem;
  cursor: pointer;
  float: right;
}

.bar {
  height: 5px;
  width: 100%;
  border-radius: 5px;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.menu-header li a {
  text-decoration: none;
}

.menu-header li {
  list-style: none;
  padding: 16px 0;
  font-size: 1.5rem;
}

.menu-header {
  padding: 0;
  margin: 0 20px;
  display: none;
  float: right;
}

.menu-header li a:hover {
  font-weight: bold;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

/* PAGE AUTEUR */
.cardAuteurContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.cardAuteur {
  width: 25rem;
  padding: 4rem;
  border-radius: 1%;
  margin-top: 10rem;
}

#selectAuthor {
  float: right;
  margin: 5rem;
}

.cardAuteurImg {
  width: 60%;
  height: 14rem;
  overflow: hidden;
  border-radius: 100%;
  border: 24px solid white;
  margin-left: 3.5rem;
}

.cardElement {
  margin-top: -10rem;
  padding-top: 2rem;
}

.center {
  text-align: center;
}

.cardAuteurList {
  list-style-type: none;
  font-style: oblique;
}

.containerListAuteur {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.LouiseMeTuePasStp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.encoreUnContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.jpp {
  width: 1.5rem;
  margin: 0.2rem;
}

.marionVaMeTuer {
  font-size: 1rem;
  font-style: oblique;
  margin-left: 0.4rem;
}
/* FOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOTTTEEEEEEEEEEEEEEEEEEEEEEEEEERRRRRRRRRR !! */

footer {
  width: 100%;
  /*justify-content: space-between;*/
}

ul.block {
  padding: 0;
  align-items: center;
  align-content: center;
  width: 100%;
  justify-content: flex-end;
}
.liensociaux {
  width: 100%;
  max-width: 450px;
}

.liste {
  margin: 10px;
  color: ghostwhite;
  width: 4rem;
  margin-right: 0.3rem;
}

.icone {
  /* height: auto;*/
  width: 1rem;
  height: 1rem;
  justify-content: space-around;
}

.lienfooter {
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 0;
}

.listeliens {
  display: inline-flex;
  padding: auto;
  align-items: center;
  color: ghostwhite;
}
.blockliens {
  width: 50%;
  align-content: space-between;
}

button {
  width: 1rem;
  height: 2rem;
  color: white;
  box-shadow: 0.313rem 0.125rem 0.5rem #2b4570;
  border-radius: 1%;
}

.imageCarrousel {
  width: 100%;
}

.liste {
  flex-direction: row;
  align-items: center;
}

/*------------- (First n second title/paragraph on Index)-----------*/
body * {
  padding: 0;
}

.blockIndex {
  flex-direction: column;
  align-items: center;
}

.listIndex {
  width: 80%;
}

/*------------- (First n second title/paragraph on Index)-----------*/

/*------------- (BANNER CHATPINGOUIN)-----------*/
.chatpingouin {
  width: 100%;
}

/*------------- (BANNER CHATPINGOUIN)-----------*/

/*------------- (order selection button on articles page)-----------*/
.selectbutton {
  width: 100%;
  max-width: 155px;
  padding-top: 1rem;
}

/*------------- (order selection button on articles page)-----------*/

/*------------- (Title on Banner articles page)-----------*/
ul.banner-articles {
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  padding: 0;
}

.banner-title {
  position: relative;
  width: 100%;
  max-width: 600px;
  min-width: 320px;
}

.article {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.banner-image {
  width: 100%;
  height: auto;
}

/*------------- (Title on Banner articles page)-----------*/
form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formFlex {
  padding: 0.5rem;
}

.formWidth {
  width: 30rem;
}

.buttonForm {
  float: right;
  margin-top: 1rem;
  margin-left: 25rem;
  width: 7rem;
}

iframe {
  width: 70%;
  margin-bottom: 6rem;
  margin-left: 15%;
}


/*------------- (First n second title/paragraph on Index)-----------*/

.blockIndex {
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.listIndex {
  list-style: none;
  width: 80%;
}

/*------------- (First n second title/paragraph on Index)-----------*/
/*------------- (BANNER CHATPINGOUIN)-----------*/
.chatpingouin {
  max-width: 100%;
}

.derniersArticles {
  padding-top: 2rem;
}


  /* NE PAS TOUCHER
  NE PAS TOUCHER
  NE PAS TOUCHER
  NE PAS TOUCHER
  NE PAS TOUCHER
  media queries responsive étou */
  
  @media screen and (min-width: 768px) { /*768px taille standard pour les desktop */
    #menu {
      display: none;
    }

    .menu-header {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
    }
  
    .linkMenu {
      display: flex;
      margin-right: 3rem;
      font-size: 4rem;
    }
  
    .logo {
      float: left;
      margin-left: 1rem;
    }
  
    .cardCollector {
      display: block;
      width: 13rem;
      box-shadow: 0.313rem 0.125rem 0.5rem #2b4570;
    }
  
    .cards {
      width: 60rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 3rem;
    }

    .card {
      width: 13rem;
      height: 13rem;
      display: flex;
      margin: 2rem;
      padding-bottom: 1rem;
    
    }
  
    .cardImage {
      width: 60%;
      height: 60%;
      margin-left: 2.5rem;
      margin-top: 0.5rem;
    }
  
    .cardAuteur {
      margin-left: auto;
      margin-right: auto;
    }
  
    .formWidth {
      width: 50rem;
    }

    .displayNoneDesktop {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }